.container {
  position: absolute;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(2, 0, 36, 0.5);
  box-shadow: 0px 6px 6px 4px rgba(2, 0, 36, 0.25);
  padding: 10px; 
}


#resultado {
  width: 256px;
  height: 165px;
  background: rgba(30, 30, 30, 0.55);
  margin-bottom: 10px;
  color: #B0C0C1;
}


.tecla {
  width: 60px;
  height: 50px;
  margin: 2px;
  background: rgba(30, 30, 30, 0.35);
  border: none;
  border-radius: 2px;
  color: #B0C0C1;
  font-size: 22px;
  cursor: pointer;
}
.igual {
  height: 100px;
}

.zero {
  width: 124px;
}

.tecla:hover {
  background: rgba(30, 30, 30, 0.9);
}

.igual:hover {
  background-color: green;
}

.backspace:hover {
  background-color: red;
}